@import "@/assets/scss/_main";

.content-right{
    padding-left: 18vw;
    height: 100vh; //toRemove
    
    .section-dashboard{
        width: 100%;
        height: auto;
        background-color: $grayLow;
    }
    
}

.sidebar{
    width: 18vw;
    height: 100vh;
    position: fixed;
    background-color: $blackLow;
}

