@import "@/assets/scss/_main";

@media (max-width: 1920px) {
  .content-login {
    width: 30vw;
  }
}

@media (max-width: 576px) {
  .content-login {
    width: 80vw;
  }
}

.login {
  background-color: $grayLow;
  color: $white;
  height: 100vh;
  width: 100vw;

  .content-login {
    height: 70vh;
    background-color: $blackLow;
    border-radius: 15px;
    border: 6px solid $black;

    header {
      font-family: Roboto Condenser;
      color: $white;
      width: 100%;
      padding-left: 24px;
      padding-bottom: 16px;
    }

    .form {
      width: 80%;
    }
  }
}
